@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Content/ckeditor_4.5.4_standard/ckeditor/ckeditor.js"></script>
}
@model PJ3ShopThoiTrang.Models.LoaiSanPham
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Quản Lý Sản Phẩm
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <form role="form">
                                <div class="form-group">
                                    <label>Tên Sản Phẩm</label>
                                    @Html.TextBox("txttensanpham", "", new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Loại Sản Phẩm</label>
                                    @Html.DropDownListFor(model => model.IDLoaiSanPham, (SelectList)ViewBag.ListOfClientIDs, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Size</label>
                                    <select class="form-control" name="secsize">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>

                                </div>
                                <div class="form-group">
                                    <label>Thương Hiệu</label>
                                    @Html.TextBox("txtthuonghieu", "", new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Gía Mua(VNĐ)</label>
                                    @Html.TextBox("txtgiamua", "", new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Gía Bán(VNĐ)</label>
                                    @Html.TextBox("txtgiaban", "", new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Mầu Sắc</label>
                                    @Html.TextBox("txtmausac", "", new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Kểu Dáng</label>
                                    @Html.TextBox("txtkieudang", "", new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Số Lượng</label>
                                    @Html.TextBox("txtsoluong", "", new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Ngày Nhập Hàng</label>
                                    <input class="form-control" type="date" name="datengaynhap" />
                                </div>
                                <div class="form-group">
                                    <label>Ảnh Sản Phẩm</label>
                                    <input class="form-control" type="file" name="anhsp">
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Mô Tả</label>
                <textarea rows="5" cols="20" class="form-control" name="txtmota" id="mota"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" name="btnnhap">Nhập</button>
            <button type="reset" class="btn btn-success">Reset</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    var ckeditor;
    function createEditor(languageCode, id) {
        var editor = CKEDITOR.replace(id, { language: languageCode });
    }
    $(function () {
        createEditor("vi", "mota")
    });
</script>
